@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');


:root {
    --accent-font: 'Raleway', sans-serif;
    --button-color: hsl(224, 93%, 58%);
}
body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.wrapper {
    padding: 1.5em;
}
.header-logo {
    width: 5.5em;
}
h1 {
    font-family: var(--accent-font);
}
ul {
    font-family: var(--accent-font);
    font-weight: 400;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:hsl(0, 0%, 75%);
    font-size: .9 basem;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: hsl(0, 0%, 75%);
    font-size: .9em;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: hsl(0, 0%, 75%);
    font-size: .9em;
}
.illustration{
    width: 100%; /* set illustrations to width of mobile screen */
}
/****** end of Global styles *****/

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
nav {
    display: inline-block;
}
.header-nav {
    display: flex;
    font-size: .7em;
}
.header-nav li {
    margin-right: 3.2em;
}
.header-nav li:last-child {
    margin-right: 0;
}
/****** end of Header styles *****/

.hero-sec1 {
    margin-top: 3em;
}
.hero-sec1 h1 {
    color: hsl(243, 87%, 12%);
    font-size: 1.5em;
    line-height: 1.4em;
    margin-top: 1.5em;
    text-align: center;
}
.hero-sec1 p {
    color: hsl(243, 87%, 12%);
    font-size: .9em;
    line-height: 1.5em;
    margin-top: 1.5em;
    padding: 0 10px;
    text-align: center;
} 
.header-form{
    margin-top: 2em;
}
.header-form input {
    border-radius: 3px;
    border-style: none;
    display: block;
    margin: 0 auto;
    padding: 0;
   
}
.header-form input[type=email] {
    border: 1px solid hsl(238, 22%, 44%);
    margin-bottom: 1.3em;
    padding: .8em 0 .8em 1.5em;
    width: 84%;
}
.header-form input[type=button] {
    color: white;
    background-color: var(--button-color);
    font-size: .9em;
    padding: .8em 0;
    width: 90%;
}
/****** end of hero-sec1 styles *****/

.round-top {
    margin-top: 4.5em;
    width: 100%;
}
.hero-sec2 {
    background-color:#F8F8FE;
    margin-top: -6px;
    padding-top: 36px;
}
.hero-sec2 h1 {
    color: hsl(243, 87%, 12%);

    font-size: 1em;
    margin: 4.7em 0 1.5em;
    text-align: center;
}
.hero-sec2 p {
    color:  hsl(238, 22%, 65%);
    font-size: .87em;
    line-height: 1.5em;
}
.attention-statement {
    align-items: center;
    border-bottom: 1px solid;
    display: flex;
    margin: 2em auto 0;
    padding-bottom: 4px;
    width: 132px;
}
.attention-statement span {
    color: hsl(170, 45%, 55%);
    font-family: var(--accent-font);
    font-size: .74em;
}
.arrow-img {
    padding-left:7px;
}
.testimonial-card img {
    width: .75em;
}

.testimonial-card {
    background-color: white;
    border-radius: 5px;
    height: 9.4em;
    padding: 1em 1.5em;
    margin: 3em auto 3.5em;
    width: 16.5em;
    -webkit-box-shadow: 0px 0px 16px -11px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 16px -11px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 16px -11px rgba(0,0,0,0.7);  
}
.hero-sec2 .testimonial-statement {
    color: hsl(243, 87%, 12%);
    font-size: .74em;
    line-height: 1.7em;
    margin: 0 0 17px 0;
}

.avatar-img {
    background-image: url(images/avatar-testimonial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    float: left;
    margin-right: 9px;
    width: 27px;
    height: 27px;
}
.hero-sec2 .avatar-name{
    color:  hsl(243, 87%, 0%);
    font-family: var(--accent-font);
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 12px;
    margin: 0 0 1px 0;
    padding-top: 2px;
}
.hero-sec2 .avatar-title {
    font-size: 8px;
    margin: 0;
}
/****** end of hero-sec2 styles *****/

.sec3 {
    background-color: hsl(238, 22%, 44%);
    color: hsl(0, 0%, 95%);
    text-align: center;
}

.sec3 h2 {
    font-family: var(--accent-font);
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: .9px;
    margin: 0;
    padding-top: 1.7em;
}

.sec3 p {
    font-size: .9em;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.7em;
    margin: 1.2em auto;
    width: 20em;
}
.sec3-form {
    margin: 1.5em 0 2.6em;
    padding-bottom: .7em;
}
.sec3 input {
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    padding: 0;
   
}
.sec3 input[type=email] {
    border-style: none;
    margin-bottom: .7em;
    padding: .8em 0 .8em 1em;
    width: 79%;
}
.sec3 input[type=button] {
    border-style: none;
    color: hsl(0, 0%, 95%);
    background-color: var(--button-color);
    font-size: .68em;
    padding: .7em 0 1em;
    width: 82%;
}
/****** end of sec3 styles *****/

footer {
    background-color: hsl(243, 87%, 12%);
    color:  hsl(0, 0%, 75%);
    font-size: 1.1em;
    position: relative;
}
.footer-img {
    fill:  hsl(0, 0%, 75%); 
}
footer ul {
    font-family: 'Open Sans', sans-serif;
}
.footer-contact {
    margin: 0 0 40px 14px;
}
.footer-contact li {
    padding-left: .5em;
}

.footer-contact li:nth-of-type(1){
    margin-bottom: 1em;
}

.footer-contact li span {
    margin-right: 1em;
}

.page-links, 
.business-policy {
    margin: 0 0 40px 22px;
}

.page-links li, 
.business-policy li {
    margin-bottom: 1em;
}

.page-links li:last-child, 
.business-policy li:last-child{
    margin-bottom: 0;
}

.social-media {
    display: flex;
}
.smedia-icons {
    color: white;
}
.footer-logo {
    margin: 2em 0;
    padding-left: 22px;
}

.footer-logo svg {
    fill: hsl(243, 87%, 12%);
    width: 10em;
}

.smedia-links {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-bottom: 42px;
    width: 146px;
   
}

.smedia-links svg {
    fill: hsl(0, 0%, 90%);
    width: 27px;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
}
/****** end of footer styles *****/

@media (min-width: 450px) {
    .header-logo {
        width: 6.5em;
    }
    .header-nav {
        font-size: .9em;
    }
    .header-nav li {
        margin-right: 2.5em;
    }
/****** end of header styles *****/

    .col-rightT {
        max-width: 402px;
        margin: 0 auto;
    }
    .col-leftT {
        max-width: 403px;
        margin: 0 auto;
    }
    .header-form input[type=button] {
        width: 89%;
    }
    /****** end of hero-sec1 styles *****/

    .col-rightM {
        max-width: 402px;
        margin: 0 auto;
    }
    .col-leftM {
        max-width: 384px;
        margin: 0 auto;
    }
    .hero-sec2 h1 {
        font-size: 1.4em;
    }
    /****** end of hero-sec2 styles *****/

    .col-sec3 {
        max-width: 402px;
        margin: 0 auto;
    }
    .colR-sec3 {
        max-width: 402px;
        margin: 0 auto;
    }
}



@media (min-width: 667px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'col-leftT col-rightT'
            'col-leftM col-rightM';
    }

    .hero-sec1 {
        margin-top: 0;
    }

    .col-rightT { grid-area: col-rightT; }
    .col-leftT { 
        align-self: start;
        grid-area: col-leftT; 
        margin-top: 1.7em;
    }

    .col-leftT h1 {
        font-size: 1.3em;
        line-height: 1.4em;
        text-align: left;
        margin-block-start: 0; /* get rid of user agent styles */
        margin-block-end: 0; /* get rid of user agent styles */
        margin-bottom: .5em;
    }
    .col-leftT p {
        font-size: .6em;
        margin-top: 0;
        margin-bottom: 1.5em;
        padding: 0;
        text-align: left;
    }
    .header-form {
        display: flex;
        margin: 0;
    }
    .header-form input {
        margin: 0;
    }

    .header-form input[type=email] {
        border: 1px solid hsl(238, 22%, 86%);
        height: 1em;
        margin-bottom: 0;
        margin-right: .8em;
        padding: .5em 0 .5em 1.5em;
        width: 47%;
    }
    .header-form input[type=button] {
        color: white;
        background-color: var(--button-color);
        font-size: .7em;
        height: 2.1em;
        padding: 0;
        width: 35%;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color:hsl(0, 0%, 75%);
        font-size: .8em;
        opacity: 1; /* Firefox */
    }
      
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: hsl(0, 0%, 75%);
        font-size: .9em;
    }
      
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: hsl(0, 0%, 75%);
        font-size: .9em;
    }
/****** end of top grid styles *****/

    .col-rightM { 
        align-self: start;        
        grid-area: col-rightM; 
        margin-top: 10px;
        max-width: 295px;
    }

    .col-leftM { 
        align-self: start;
        grid-area: col-leftM; 
        margin: 0;
    }

    .round-top {
        margin-top: 2.3em;
    }

    .hero-sec2 {
        margin-top: -6px;
        padding-top: 1.5em;
        padding-bottom: 3em;
    }
    .hero-sec2 h1 {
        font-size: 1.1em;
        margin: 0 0 .8em 0;
        text-align: left;
    }
    .hero-sec2 .landscape-p {
        font-size: .5em;
        width: 35em;
    }
    .hero-sec2 p {
        font-size: .6em;
    }

    .attention-statement {
        margin: 0 0 1.5em 0;
        padding-bottom: 1px;
        width: 98px;
    }

    .attention-statement span {
        font-size: .5em;
    }
    .arrow-img {
        padding-left: 4px;
        width: 11px;
    } 
    .testimonial-card {
        height: 6.2em;
        margin: 0;
        padding: .5em 1em;
        width: 10em;;
    }

    .testimonial-card img {
        width: .6em;
    }

    .hero-sec2 .testimonial-statement {
        font-size: 8px;
        line-height: 12px;
        margin-bottom: 8px;
    }

    .avatar-img {
        width: 17px;
        height: 17px;
    }

    .hero-sec2 .avatar-name {
        font-size: 8px;
        letter-spacing: .5px;
        line-height: 8px;
        margin-bottom: 1px;
    }

    .hero-sec2 .avatar-title {
        font-size: 6px;
    }
/****** end of middle grid styles *****/

    .colL-sec3 h2, p {
        text-align: left;
    }
    
    .sec3 h2 {
        font-size: 1.1em;
    }

    .sec3 p {
        font-size: .5em;
        margin-left: 0;
        width: 35em;
    }
    .colR-sec3 {
        margin: 0;
    }

    .sec3-form {
        margin-top: 1.8em;
    }

    .sec3 input {
        margin: 0;
    }

    .sec3 input[type=email]{
        margin-left: 1em;
        padding: .6em 0 .8em 1em;
    }

    .sec3 input[type=button] {
        font-size: .6em;
        margin-left: 1em;
        padding: .6em 0 .9em;
        width: 44%;
    }

    .footer {
        display: grid;
        font-size: .63em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-bottom: 3em;
        padding-top: 5em;
    }

    .footer-logo {
        margin: 0 0 1em;
        padding-left: 8px;
        width: 9em;
    }

    .footer-logo svg {  width: 100%; }

    .footer-contact { margin: 0 0 40px 8px; }

    .footer-contact li span {
        display: inline-block;
        width: 11px;
    }

    .span-img {
        width: 100%;
    }

    .page-links, 
    .business-policy {
        margin: 38px auto 40px;
    }

    .smedia-links {
        display: inline-block;
        margin-top: 38px;
        width: 9em;
    }

    .smedia-links svg { 
        margin-top: -18px;
        width: 20px; 
    }

    .smedia-links svg:nth-of-type(2){
        margin:0 10px;
    }

    .attribution {
        margin: 0 auto;
        display: inline-block;
        width: 100%;
    }

}


@media (min-width: 736px) {
    .wrapper {
        padding: 2.5em;
    }
    .col-leftT {
        margin-right: 0;
        margin-left: 0;
    }
    .col-leftT h1 {
        font-size: 1.4em;
    }
    .col-leftT p {
        font-size: .8em;
        max-width: 358px;
    }
    /****** end of hero-sec1 styles *****/

    .hero-sec2 h1 {
        font-size: 1.2em;
    }
    .hero-sec2 .landscape-p {
        font-size: .7em;
        max-width: 317px;
    }
    .col-rightM {
        align-self: start;
        margin-top: 13px;
        max-width: 296px;
    }
    .sec3 {
        padding
    }
    .sec3-form {
        margin-left: auto;
        width: 333px;
        margin-bottom: 0;
    }
}

@media (min-width: 950px) {
    .wrapper {
        padding: 3.5em;
    }
}

@media (min-width: 1000px) {
    .wrapper {
        padding-right: 4.5em;
        padding-left: 4.5em;
    }
   .header-logo {
       width: 7.5em;
   }
   .header-nav {
       font-size: 1.2em;
   }
   /****** end of Header styles *****/

   .col-rightT {
       margin: 0;
       margin-left: auto;
       max-width: 440px;
   }
   .col-leftT {
       margin-top: 3em;
   }
   .col-leftT h1 {
       font-size: 1.7em;
   }
   .col-leftT p {
       font-size: .9em;
       max-width: 402px;
   }
   .header-form input[type=email] {
       height: 2.1em;
       padding: .1em 0 .5em 1.5em;
   }
   .header-form input[type=button] {
       height: 2.8em;

   }
   /****** end of hero-sec1 styles *****/

   .col-rightM {
       margin: 0;
       max-width: 440px;
   }
   .col-leftM {
       max-width: 100%;
   }
   .hero-sec2 h1 {
       font-size: 1.6em;
       max-width: 100%;
   }
   .hero-sec2 .landscape-p {
       font-size: .9em;
       max-width: 370px;
   }
   .attention-statement {
       width: 137px;
   }
   .attention-statement span {
       font-size: .8em;
   }
   .arrow-img {
       width: 14px;
   }
   .testimonial-card {
        height: 8.2em;
        margin: 0;
        padding: .5em 1.5em;
        width: 13em;
   }
   .testimonial-card img {
       width: .8em;
   }
   .hero-sec2 .testimonial-statement {
        font-size: 10px;
        line-height: 18px;
        margin-bottom: 13px
   }
   .avatar-img {
        width: 22px;
        height: 22px;
   }
   .hero-sec2 .avatar-name {
       font-size: 9px;
   }
   .hero-sec2 .avatar-title {
       font-size: .7px;
   }
   .col-rightM {
        align-self: start;
        margin-left: auto;
        max-width: 396px;
        margin-top: 18px;
   }
/****** end of hero-sec2 styles *****/

    .sec3 h2 {
        font-size: 1.4em;
        padding-top: 1.2em;
    }
    .sec3 p {
        font-size: .7em;
        width: 32em;
    }
    .sec3 input[type=email] {
        width: 78%;
    }
    .sec3 input[type=button] {
        width: 36%;
    }
/****** end of sec3 styles *****/

    .footer {
        font-size: .9em;
    }
    .footer-contact li span {
        width: 13px;
    }
    .page-links, .business-policy {
        margin-top: 53px;
    }
    .smedia-links {
        margin-top: 53px;
    }
/****** end of footer styles *****/

}

@media (min-width: 1244px) {

    .header-logo {
        width: 8.5em;
    }

    .col-leftT {
        margin-top: 3em;
        max-width: 100%;
    }

    .col-leftT h1 {
        font-size: 2.5em;
    }
    
    .col-leftT p {
        font-size: 1.1em;
        line-height: 2em;
        max-width: 87%;
    }

    .header-form input[type=email] {
        font-size: 14px;
        height: 2.3em;
    }

    .header-form input[type=button] {
        height: 3.8em;
        width: 30%;
    }

    .col-rightT {
        max-width: 100%;
        margin: 0;
    }
/****** end of hero-sec1 styles *****/
    .wrapper.hero-sec2 {
        padding-top: 1.5em;
        padding-bottom: 6em;
    }

    .col-rightM {
        max-width: 84%;
        margin-top: 28px;
    }

    .hero-sec2 h1 {
        font-size: 2.5em;
    }

    .hero-sec2 .landscape-p {
        font-size: 1.1em;
        max-width: 576px;
    }
    .attention-statement {
        margin: 0 0 2.5em 0;
        width: 169px;
    }

    .attention-statement span {
        font-size: 1em;
    }

    .arrow-img {
        width: 15px;
        padding-left: 6px;
    }

    .testimonial-card {
        height: 13.2em;
        width: 21em;
    }

    .testimonial-card img {
        margin-top: 11px;
        margin-bottom: 6px;
        width: .9em;
    }

    .hero-sec2 .testimonial-statement {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 25px;
    }
    .avatar-img {
        width: 34px;
        height: 34px;
    }
    .hero-sec2 .avatar-name {
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 0;
    }
    .hero-sec2 .avatar-title {
        font-size: 9.7px;
    }


    .sec3 h2 {
        font-size: 2.3em;
    }

    .sec3 p {
        font-size: 1.2em;
    }

    .colR-sec3 {
        max-width: 100%;
    }

    .sec3-form {
        width: 100%;
    }

    .sec3 input[type=email] {
        width: 68%;
        font-size: 1.2em;
        height: 22px;
        margin-left: 6.6em;
        margin-top: 58px;
    }

    .sec3 input[type=button] {
        font-size: 1em;
        padding: .9em 0 1em;
        width: 33%;
        margin-left: 7.9em;
    }

    .footer {
        font-size: 1.2em;
    }
    
    .footer-logo {
        width: 9em;
        margin-top: 1em;
    }

    .footer-contact li span {
        width: 13px;
    }
    .page-links, .business-policy {
        margin-top: 95px;
    }
    .smedia-links {
        margin-top: 95px;
    }
    .smedia-links svg {
        width: 33px;
    }

}



